@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .box-shadow-form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .submit-button {
    width: 50%;
    text-align: center;
    margin: 20px auto;
    border: 2px;
    border-radius: 5px;
    background-color: rgb(77, 12, 77);
    color: white;
    font-weight: 700;
    line-height: 40px;
  }
  .book-cart {
    box-shadow: 7px 7px 5px rgb(0, 2, 128);
    border: 2px solid black;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgb(7, 0, 0)
    );
  }
}
