@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body,
  html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

@layer utilities {
  .box-shadow-form {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .submit-button {
    width: 50%;
    text-align: center;

    margin: 20px auto;
    border: 2px;
    border-radius: 5px;
    background-color: rgb(77, 12, 77);
    color: white;
    font-weight: 700;
    line-height: 40px;
  }
  .book-cart {
    box-shadow: 7px 7px 5px rgb(0, 2, 128);
    border: 2px solid black;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0),
      rgb(7, 0, 0)
    );
  }

  .singleBookCart {
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
      rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px,
      rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
  }

  .progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    background-color: #007bff;
    height: 4px;
    transform-origin: 0%;
  }
  .bookPageGradient {
    background-color: #74ebd5;
    background-image: linear-gradient(90deg, #74ebd5 0%, #9face6 100%);
  }
  .sideBar {
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }
  .background-image {
    background-size: cover;
    background-position: center;

    background-attachment: fixed;

    width: 100%;
  }
}
